body {font-family: Arial; font-size: 15px;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    width: 150px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}
* {box-sizing: border-box}

/* Style the tab */
.tabS {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
  height: 430px;
}

/* Style the buttons that are used to open the tab content */
.tabS button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabS button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tabS button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontentS {
  display: none;
  float: left;
  padding: 0px 12px;
  border: none;
  width: 80%;
  border-left: none;
}

.chSympt {
    width: 30px;
    
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: red;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.menuBild {
    float:left;
    width: 50%;
}
#tableMenu {
    border-collapse: collapse;
}
#tableMenu th {
    color: rgb(40, 15, 88);
    font-size: 30px;
    background-color: rgb(197, 238, 252);
    border: 3px solid white;
}
#tableMenu td {
    font-size: 18px;
    padding-left: 20px;
    background-color: rgb(214, 226, 236);
    border: 3px solid white;
    
}
.cenImage {
    float: left;
    padding-left: 20px;
    width: 45%;
}

.tabSymptoms {
    width: 100%;
    padding-top: 20px;
    border-collapse: collapse;
}
.tabSymptoms th {
    text-align: left;
    padding-top: 20px;
}
.tabSymptoms th, td {
    border: 1px solid white;
}
.checkSamman td {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.htScore {
    float: left;
    padding: 10px;
    width: 60%;
}
.htScore2 {
    float: left;
    padding: 10px;
    width: 35%;
}
.ekgTolkning {
    float: left;
    padding: 10px;
    width: 45%;
}
.tropKron {
    float: left;
    padding: 10px;
    width: 60%;
}
.tropInfo {
    float: left;
    padding: 10px;
    width: 100%;
}
.heartBild {
    float: left;
    padding-top: 20px;
    
}
.metaAn {
    float: left;
    padding: 10px;
    width: 45%;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 0;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgb(225, 225, 225);
}
.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgb(225, 225, 225);
}
.checkmark3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(225, 225, 225);
}
.checkmark4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(225, 225, 225);
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark1 {
    background-color: rgb(200, 200, 200);
}
.container:hover input ~ .checkmark2 {
    background-color: rgb(200, 200, 200);
}
.container1:hover input ~ .checkmark3 {
    background-color: rgb(200, 200, 200);
}
.container1:hover input ~ .checkmark4 {
    background-color: rgb(200, 200, 200);
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark1 {
    background-color: red;
}
.container input:checked ~ .checkmark2 {
    background-color: green;
}
.container1 input:checked ~ .checkmark3 {
    background-color: red;
}
.container1 input:checked ~ .checkmark4 {
    background-color: green;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark3:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark4:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark1:after {
    display: block;
}
.container input:checked ~ .checkmark2:after {
    display: block;
}
/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark3:after {
    display: block;
}
.container1 input:checked ~ .checkmark4:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark1:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container .checkmark2:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* Style the indicator (dot/circle) */
.container1 .checkmark3:after {
    left: 8px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container1 .checkmark4:after {
    left: 8px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.introSum {
    float: left;
    
    width: 80%;
}  

.syfte {
    float: left;
    
    width: 50%;
}
.grad {
    float: left;
    
    width: 50%;
}
.test {
    float: left;
    padding: 10px;
    width: 25%;
}

.btn {
    border: none;
    color: white;
    width: 100px;
    padding: 6px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn1 {
    border: none;
    color: white;
    width: 290px;
    padding: 6px 14px;
    font-size: 16px;
    cursor: pointer;
}
.svag {background-color: #4CAF50;} /* Green */
.svag:hover {background-color: #46a049;}

.medel {background-color: #ff9800;} /* Orange */
.medel:hover {background: #e68a00;}

.stark {background-color: #f44336;} /* Red */ 
.stark:hover {background: #da190b;}

.rensa {background-color: aquamarine;}
.rensa:hover {background: aqua}

.rensaN {background-color: aquamarine;}
.rensaN:hover {background: aqua}

.heartScore  {background-color: lightslategrey;} /* Red */ 
.heartScore:hover {background: grey;}

.typAngina  {background-color: lightslategrey;} /* Red */ 
.typAngina:hover {background: grey;}

.ptpAngina  {background-color: lightslategrey;} /* Red */ 
.ptpAngina:hover {background: grey;}

.ptpAnginaN  {background-color: lightslategrey;} /* Red */ 
.ptpAnginaN:hover {background: grey;}

.nextTrop {background-color: lightslategray;} /* Orange */
.nextTrop:hover {background: grey;}

.calcHeart {
    float: left;
    padding: 0px 10px;
    width: 45%;
    background-color: none;  
}

.svarHscore {
    border: 3px solid;
    border-color: transparent;
    padding: 6px;
}
.svarGscore {
    border: 3px solid;
    border-color: transparent;
    padding: 6px;
}

.refInfo {
    float: left;
    padding: 10px;
    width: 70%;
}
.diagnosAngina {
    float: left;
    padding: 10px;
    width: 60%;
}

.diagnosAks {
    float: left;
    padding: 10px;
    width: 60%;
}
.diagnosInst {
    float: left;
    padding: 10px;
    width: 60%;
}

.choice {
    border-collapse: collapse;
}

.choice td {
    font-size: 16px;
    vertical-align: top;
    padding: 20px;
    background-color: rgb(214, 226, 236);
    border: 3px solid white;
}

.cadKalkyl {
    float: left;
    padding: 10px 20px;
    width: 40%;
}
.utredAngina {
    float: left;
    padding: 10px;
    width: 45%;
}
.anginaTypisk {
    float: left;
    padding: 10px;
    width: 60%;
}

.rule { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle; 
	overflow: hidden; 
  background: none;
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}